__pycache__/
*.py[cod]
*$py.class

venv/
ENV/
env/
.venv/

.vscode/

.DS_Store
Thumbs.db

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

build/
dist/
*.egg-info/
.eggs/

*.log
*.tmp
*.bak
*.swp
*.swo

.ipynb_checkpoints/

.env
.env.*

*.spec

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/
