<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>京迹——北京历史文化景点推荐系统</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/animations.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
            <script src="static/js/vendor/respond.min.js"></script>
        <![endif]-->
</head>

<body>

    <header id="header" class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <img src="static/example/logo-.png" alt="" style="height: 80px;"></a>
                    </div>
                </div>
                <!-- <a class="navbar-brand" href="#top"><img src="static/example/logo-.png" alt=""></a> -->
                <div class="col-sm-6 mainmenu_wrap">
                    <div class="main-menu-icon visible-xs">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav>
                        <ul id="mainmenu" class="menu sf-menu responsive-menu superfish">
                            <li class="active">
                                <a href="./travelhome">首页</a>
                            </li>
                            <li class="">
                                <a href="./gallery.html">景点搜索</a>
                            </li>
                            <li class="">
                                <a href="./route_design.html">景点路线规划</a>
                            </li>
                            <li class="dropdown">
                                <a href="./blog.html">博客</a>
                                <ul class="dropdown-menu">
                                    <li class="">
                                        <a href="./blog.html">博客</a>
                                    </li>
                                    <li class="">
                                        <a href="./blog-single.html">博客文章</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="./about.html">关于</a>
                            </li>
                            <!-- <li class="">
                                <a href="./contact.html">联系</a>
                            </li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section id="mainslider" class="color_section">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="static/example/slide_1.jpg" alt="" />
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <h3 data-animation="slideUp">邂逅北京文化之美</h3>
                            <p data-animation="slideUp">来一趟说走就走的旅行</p>
                            <a class="btn-default btn1" data-animation="slideUp" href="./spot.html">即刻出发</a>

                        </div>
                    </div>
                </li>
                <li>
                    <img src="static/example/slide_2.jpg" alt="" />
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <h3 data-animation="slideUp">Encounter the Beauty of Beijing's Culture</h3>
                            <p data-animation="slideUp">Take a walk away trip</p>
                            <a class="btn-default btn1" data-animation="slideUp" href="./spot.html">get started</a>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>


    <section class="welcome-box light_section">
        <div class="container text-block">
            <h2 class="block-header text-center">欢迎来到北京</h2>
            <div class="row justify-content-center text-center">
                <p class="col-sm-6 to_animate" data-animation="fadeInRight">深度挖掘景点信息，为您推荐合适的景点</p>
                <p class="col-sm-6 to_animate" data-animation="fadeInLeft">根据您的特点，定制最适合您的旅游计划</p>
            </div>
        </div>
    </section>


    <section class="grey_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="block-header text-center to_animate" data-animation="slideUp">为你推荐：北京著名历史文化景点</h2>
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-items-5 latest-works" id="home_site_show_container"> </div>
        <script>
            var home_site_show_data = [
                {
                    "title": "故宫",
                    "image": "static/example/gallery/故宫.jpg",
                    "description": "金碧辉煌的古代建筑",
                    "link": "/gallery.html"
                },
                {
                    "title": "八达岭长城",
                    "image": "static/example/gallery/八达岭长城.jpg",
                    "description": "雄伟的北境长城",
                    "link": "/gallery.html"
                },
                {
                    "title": "颐和园",
                    "image": "static/example/gallery/颐和园.jpg",
                    "description": "美妙的古代庄园",
                    "link": "/gallery.html"
                },
                {
                    "title": "明十三陵",
                    "image": "static/example/gallery/明十三陵.jpg",
                    "description": "古代皇帝之陵墓",
                    "link": "/gallery.html"
                },
                {
                    "title": "龙潭公园",
                    "image": "static/example/gallery/龙潭公园.jpg",
                    "description": "优雅舒适的森林公园",
                    "link": "/gallery.html"
                },
                {
                    "title": "王府井",
                    "image": "static/example/gallery/王府井.jpg",
                    "description": "繁华的街道",
                    "link": "/gallery.html"
                },
            ];

            var home_site_show_container = document.getElementById('home_site_show_container');
            home_site_show_data.forEach(function (item) {
                var item_div = document.createElement('div');
                item_div.className = 'owl-carousel-item portfolio_item_image';
                item_div.innerHTML = `
                    <div class="portfolio_links">
                        <img src="${item.image}" alt="" style="width: 350px; height: 200px; object-fit: cover;">
                    </div>
                    <div>
                        <h3><a href="#">${item.title}</a></h3>
                        <p>               </p>
                        <p>${item.description}</p>
                        <div class="entry-share">
                            <p class="text-center">
                                <a class="btn-default btn1" data-animation="slideUp" href="${item.link}">更多信息</a>
                            </p>
                        </div>
                    </div>
                `;
                home_site_show_container.appendChild(item_div);
            });
        </script>


    </section>


    <section id="testimonials" class="welcome-box light_section">
        <h2 class="block-header text-center">为你推荐：北京热门景点旅游路线</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div id="carousel-testimonials-fullwidth" class="carousel slide widget_testimonials block">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-testimonials-fullwidth" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-testimonials-fullwidth" data-slide-to="1"></li>
                            <li data-target="#carousel-testimonials-fullwidth" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <article class="post format-small-image">
                                    <div class="row">
                                        <div class="entry-thumbnail col-sm-5">
                                            <img alt="" src="static/home_route/天安门.jpg" style="height: 230px; width: 700px;">
                                        </div>
                                        <div class="col-sm-7">
                                            <header class="entry-header">
                                                <h3 class="entry-title">
                                                    <a href="./blog-single.html" rel="bookmark">国家礼仪爱国情怀红色游</a>
                                                </h3>
                                                <div class="entry-meta">
                                                    天安门广场—天安门城楼—端门—中山公园—蒙藏学校旧址
                                                </div>
                                                <!-- .entry-meta -->
                                            </header>
                                            <!-- .entry-header -->

                                            <div class="entry-content">
                                                前往庄严肃穆的天安门广场，观看升国旗仪式，激发爱国热情和民族自豪感。参观天安门城楼，加深对国家历史文化的理解，感受那份震撼人心的宏伟与庄严。穿过端门步入静谧的中山公园，在来今雨轩内观看珍贵的文物、图片和影像资料，深入了解中国革命的发展历程和党的光辉历程。探访蒙藏学校旧址，在这所历史悠久的学府中接受爱国主义教育。
                                            </div>
                                            <!-- .entry-content -->
                                            <!-- .entry-tags -->
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="item">
                                <article class="post format-small-image">
                                    <div class="row">
                                        <div class="entry-thumbnail col-sm-5">
                                            <img alt="" src="static/home_route/太庙.jpeg" style="height: 230px; width: 700px;">
                                        </div>
                                        <div class="col-sm-7">
                                            <header class="entry-header">
                                                <h3 class="entry-title">
                                                    <a href="./blog-single.html" rel="bookmark">古代祭祀传统文化探秘游</a>
                                                </h3>
                                                <div class="entry-meta">
                                                    太庙（北京市劳动人民文化宫）—正阳门—南中轴御道—天坛—先农坛
                                                </div>
                                                <!-- .entry-meta -->
                                            </header>
                                            <!-- .entry-header -->

                                            <div class="entry-content">
                                                走进太庙（北京市劳动人民文化宫），参观明清两代皇帝祭祖的庄严殿堂，深刻体验中国古代礼制文化的深厚底蕴。前往正阳门，感受古都北京的雄伟壮观。游览南中轴御道，追寻皇家御道的历史足迹。踏入天坛，在高大的祈年殿与神秘的回音壁，感受天地之气的交融与历史的深厚沉淀。最后到先农坛，在古代皇家祭祀建筑的庄严中，祝福国泰民安，五谷丰登。
                                            </div>
                                            <!-- .entry-content -->
                                            <!-- .entry-tags -->
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="item">
                                <article class="post format-small-image">
                                    <div class="row">
                                        <div class="entry-thumbnail col-sm-5">
                                            <img alt="" src="static/home_route/国家自然博物馆.jpg" style="height: 230px; width: 700px;">
                                        </div>
                                        <div class="col-sm-7">
                                            <header class="entry-header">
                                                <h3 class="entry-title">
                                                    <a href="./blog-single.html" rel="bookmark">“博物馆之城”中轴线感知游</a>
                                                </h3>
                                                <div class="entry-meta">
                                                    北京市规划展览馆—中国铁道博物馆正阳门馆—国家自然博物馆—北京古代建筑博物馆
                                                </div>
                                                <!-- .entry-meta -->
                                            </header>
                                            <!-- .entry-header -->

                                            <div class="entry-content">
                                                参观北京市规划展览馆，了解北京的城市发展历程与未来规划。踏入中国铁道博物馆正阳门馆，穿梭于中国铁路的百年历史长河，感受铁路的发展与变迁。探索国家自然博物馆，观赏大量珍贵的自然标本，深入了解生命的奥秘，感受自然界的奇妙与壮丽。最后来到北京古代建筑博物馆，深入了解中国古代建筑的历史与文化，感受传统建筑的魅力与智慧。
                                            </div>
                                            <!-- .entry-content -->
                                            <!-- .entry-tags -->
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="banner-box color_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="title">分享您的快乐旅途</p>
                    <p>总结您的旅途！写下您的游记！分享您的快乐！
                    </p>
                    <a class="btn-default btn1" href="./blog.html">点击这里！</a>
                </div>
            </div>
        </div>
    </section>


    <!-- <footer>
        <div class="social">
            <div class="social_icons">
                <a class="social-icons__sep" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-icons__sep" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-icons__sep" href="#"><i class="fa fa-pinterest"></i></a>
                <a class="social-icons__sep" href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-rss"></i></a>
            </div>
            <img alt="" src="static/example/footer_bg.jpg">
        </div>
    </footer> -->

    <section id="copyright" class="color_section">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 text-center">
                    &copy; UCAS 2024 - Travel Planning
                </div>
            </div>

        </div>
    </section>


    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

    <script src="static/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script src="static/js/vendor/placeholdem.min.js"></script>
    <script src="static/js/vendor/hoverIntent.js"></script>
    <script src="static/js/vendor/superfish.js"></script>
    <script src="static/js/vendor/jquery.actual.min.js"></script>
    <script src="static/js/vendor/jquery.appear.js"></script>
    <script src="static/js/vendor/jquerypp.custom.js"></script>
    <script src="static/js/vendor/jquery.elastislide.js"></script>
    <script src="static/js/vendor/jquery.flexslider-min.js"></script>
    <script src="static/js/vendor/jquery.prettyPhoto.js"></script>
    <script src="static/js/vendor/jquery.easing.1.3.js"></script>
    <script src="static/js/vendor/jquery.ui.totop.js"></script>
    <script src="static/js/vendor/jquery.isotope.min.js"></script>
    <script src="static/js/vendor/jquery.easypiechart.min.js"></script>
    <script src='static/js/vendor/jflickrfeed.min.js'></script>
    <script src="static/js/vendor/jquery.sticky.js"></script>
    <script src='static/js/vendor/owl.carousel.min.js'></script>
    <script src='static/js/vendor/jquery.nicescroll.min.js'></script>
    <script src='static/js/vendor/jquery.fractionslider.min.js'></script>
    <script src='static/js/vendor/jquery.scrollTo-min.js'></script>
    <script src='static/js/vendor/jquery.localscroll-min.js'></script>
    <script src='static/js/vendor/jquery.parallax-1.1.3.js'></script>
    <script src='static/js/vendor/jquery.bxslider.min.js'></script>
    <script src='static/js/vendor/jquery.funnyText.min.js'></script>
    <script src='static/js/vendor/jquery.countTo.js'></script>
    <script src="static/js/vendor/grid.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>


</body>

</html>